<section class="about section" id="about">
    <div class="container">
        <div class="row">

            <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Hello, we are Atlas</h2>

                <p data-aos="fade-up" data-aos-delay="400">Using our website you can access programs of exercises. This would be useful for time-management and independent workout. Create a schedule and complete your exercises.</p>

                <p data-aos="fade-up" data-aos-delay="500">If you have any question regarding <a rel="nofollow" href="#" target="_parent">Atlas Fitness</a>, you can <a rel="nofollow" href="#" target="_parent">contact</a> immediately. Thank you.</p>

            </div>

            <div class="ml-lg-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="700">
                <div class="team-thumb">
                    <img src="images/team/sanya.jpg" class="img-fluid" alt="Trainer">

                    <div class="team-info d-flex flex-column">

                        <h3>Aleksandr Lukashuk</h3>
                        <span>Instructor</span>

                        <ul class="social-icon mt-3">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mr-lg-auto mt-5 mt-lg-0 mt-md-0 col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
                <div class="team-thumb">
                    <img src="images/team/rama.jpg" class="img-fluid" alt="Trainer">

                    <div class="team-info d-flex flex-column">

                        <h3>Ramazan Seiitbek</h3>
                        <span>Trainer</span>

                        <ul class="social-icon mt-3">
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>